/* colors used

Primary color (blue): #3B7AAA;
*/

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}

h1{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h3{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #3B7AAA;
}

a:visited {
  color: #3B7AAA;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

footer{
  text-align: center;
}

image {
  float: left;
}

/* Layout styling */


* {
  box-sizing: border-box;
}


.navigation{
  list-style-type: none;
  padding: 0;
  float: right;
}

.navigation > li {
    display: inline-block;
    margin-left: 10px;
}
