/* colors used

Primary color (blue): #3B7AAA;
text (black): #333333;
text links (dark blue): #1B4F78;
project header (beige): #E8E9DF;
*/

* {
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #333333;
}

h1{
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 0.83em;
}

h2{
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h3{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

h4{
  font-size: 1.5em;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #E8E9DF;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 80px;
    padding-top: 40px;
}

h6 {
  text-align: center;
}

hr {
  border-color: #E8E9DF;
}

a {
  color: #1B4F78;
}

a:visited {
  color: #1B4F78;;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

footer{
  text-align: center;
  background-color: #BED6EC;
  padding: 30px 0;
  margin-top: 80px;
}


.button {
  font-family: 'Londrina Sketch', cursive;
  color: #1B4F78 !important;
  text-transform: lowercase;
  transition: 0.2s opacity;
  font-size: 2em;
  border: 2px dotted #1B4F78;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.email-button {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px;
}

.cv-button {
  display: inline-block;
  margin-top: 20px;
}

.photo {
  border-radius: 12px;
}

/* Layout styling */

header {
  background-color: #BED6EC;
  padding: 30px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: inline-block;
  float: right;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  margin-left: 25px;
  font-family: 'Londrina Sketch', cursive;
  color: #1B4F78;
  font-size: 2em;
}

.list ol li {
  margin-bottom: 16px;
}

.list ul li{
  margin-bottom: 16px;
}

a.logo {
  font-family: 'Londrina Sketch', cursive;
  text-decoration: none;
  color: #1B4F78;
  font-size: 3em;
}

a.back-top {
  font-family: 'Londrina Sketch', cursive;
  color: #1B4F78;
  font-size: 2em;
}

img {
  width: 100%;
}

/* Animation */

@keyframes logo-rotation {
  from {transform:rotateX(180deg);}
  to {transform:rotateX(0deg);}
}

.animation {
  animation-duration: 5s;
  animation-name: logo-rotation;
  animation-iteration-count: 1;
  display: inline-block;
}


/* Welcome */

#welcome {
  background-color: #BED6EC;
  padding: 30px 0 60px;
  text-align: center;
  margin-bottom: 75px;
}

/* About */

#about {
  width: 50%;
  text-align: center;
  margin: 20px auto 60px;
  padding: 40px 0 40px;
}

#about img {
  width: 70%;
}

/* Skills */

#skills {
  text-align: center;
}

#skills [class*="col-"] {
  height:500px;
}

/* Expertland */

#expertland_intro .container {
  padding-top: 50px;
  text-align: center;
  margin: 0px auto 80px auto;
  width: 60%;
}

#expertland_intro img {
  width: 30%;
  margin: 40px 0px;
}

.expertland_story{
  padding-top: 40px;
  text-align: center;
  font-style: italic;
  margin: 0px auto 80px auto;
  width: 50%;
}

.expertland_story img {
  margin: 40px 0px;
}

.expertland_section .container{
  margin: 80px auto 80px auto;
  width: 60%;
}

.expertland_section h3 {
  text-align: center;
  margin-bottom: 30px;
}

.expertland_section img {
  display: block;
  margin: 60px auto 60px auto;
}

.expertland_screenshots img {
  width: 60%;
}

.expertland_section ul {
  padding-left: 90px;
  margin: 30px 0;
  text-align: left;
  width: 90%;
}

.expertland_section ol {
  padding-left: 80px;
  margin: 30px 0;
  text-align: left;
  width: 80%;
}

#expertland_search h3 {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 0;
}

/* Wooords */

#wooords_intro .container {
  text-align: center;
  padding-top: 50px;
  margin: 0px auto 80px auto;
  width: 52%;
}

.wooords_story {
  font-style: italic;
}

#wooords_intro img {
  width: 22%;
  margin: 40px 0px;
}

.wooords_section .container {
  width: 60%;
}

.wooords_section img {
  display: block;
  width: 90%;
  margin: 60px auto 80px auto;
}

.wooords_document img {
  display: block;
  margin: 60px auto 0px auto;
  width: 70%;
}

.wooords_section ol {
  padding-left: 120px;
  margin: 30px 0;
  text-align: left;
  width: 85%;
}

/* Flucht */

#flucht_intro .container{
  padding-top: 50px;
  text-align: center;
  margin-bottom: 80px;
  width: 65%;
}

#flucht_intro img {
  margin: 40px 0px;
}

.flucht_section .container {
  text-align: left;
  margin: auto;
  width: 65%;
}

.flucht_section img {
  display: block;
  margin: 60px auto 80px auto;
}

.flucht_section ol {
  padding-left: 80px;
  margin: 30px 0;
  text-align: left;
  width: 85%;
}


/* rows and columns */

[class*="col-"] {
    float: left;
    padding: 30px;
    margin-top: 40px;
}

.wooords_col {
  margin-top: 0px;
  padding:30px;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33%;
}


.col-lg-5 {
  width: 41.66%;
}

.col-lg-4{
  width: 33.33%;
  border: 1px dotted #1B4F78;
}

.col-lg-3{
  width: 25%;
}

[class*="expertland_row-"] {
  text-align: center;
}

.expertland_row-1 {
  height: 550px;
}

.expertland_row-2 {
  height: 550px;
}

.expertland_row-3 {
  height: 650px;
}

.expertland_row-4 {
  height: 650px;
}

.work-col {
  margin-top: 80px;
  padding-right: 80px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ==============================
Medium devices (smaller than 1025px)
================================= */
@media only screen and (max-width: 1024px) {

  /* containers, rows & columns styling
  =============================== */

  .col-md-6 {
    width: 50%;
  }

  #about {
    width: 80%;
  }


  #expertland_intro .container{
    width: 70%;
  }

  .expertland_section .container{
    width: 70%;
  }

  .expertland_story{
    width: 60%;
  }

  .expertland_section ol {
    padding-left: 60px;
    width: 90%;
  }


  .expertland_section ul {
    padding-left: 60px;
    width: 90%;
  }

  [class*="expertland_row-"] {
    padding-left: 30px;
    padding-right: 30px;
  }

  [class*="expertland_row-"] img {
    width: 60%;
    padding: 10px;
  }

  #expertland_search .container {
    max-width: 800px;
  }

  .expertland_row-1 {
    height: 500px !important;
  }

  .expertland_row-3 {
    height: 500px !important;
  }

  .expertland_row-4 {
    height: auto !important;
  }

  #wooords_intro .container {
    width: 60%;
  }

  .wooords_section .container {
    width: 70%;
  }

  .wooords_section ol {
    padding-left: 60px;
    width: 90%
  }

  .wooords_section img {
    width: 100%;
  }

  .wooords_document img {
    width: 70%;
  }

  .flucht_section .container{
    width: 75%;
  }

}


/* ==============================
Small devices (smaller than 768px)
================================= */
@media only screen and (max-width: 767px) {

  /* containers, rows & columns styling
  =============================== */

  nav {
    float: none;
  }

  header {
    text-align: center;
  }

  nav > ul > li {
    margin: 0 8px;
  }

  [class*="col-"] {
      padding: 10px;
  }

  .col-sm-12 {
    width: 100%;
  }

  .work-col {
    margin-top: 10px;
    padding-right: 0px;
  }

  .button {
    display: block;
    text-align: center;
    margin: auto;
    width: 180px;
  }

  .email-button {
    margin-top: 30px;
    width: 160px;
  }

  .cv-button {
    margin-top: 50px;
    width: 160px;
  }

  #about {
    width: 95%;
    text-align: left;
  }

  #about img {
    display: block;
    margin: auto;
  }

  #expertland_intro .container{
    width: 95%;
    text-align: left;
  }

  #expertland_intro img {
    width: 50%;
    display: block;
    margin: 40px auto;
  }

  .expertland_story{
    width: 80%;
  }

  .expertland_section .container {
    width: 95%;
  }

  .expertland_section img {
    width: 100%;
  }

  .expertland_section ol {
    padding-left: 20px;
    width: 95%;
  }

  .expertland_section ul {
    padding-left: 20px;
    width: 95%;
  }

  .expertland_screenshots img {
    width: 80%;
  }

  h5 { /* Expertland, user testing; Test Objects */
      padding-left: 20px;
      padding-top: 40px;
  }

  #wooords_intro .container {
    width: 90%;
  }

  #wooords_intro img {
    width: 50%;
  }

  .wooords_section .container {
    width: 95%;
  }

  .wooords_section img {
    width: 100%;
  }

  .wooords_document img {
    width: 100%;
  }

  .wooords_section ol {
    padding-left: 20px;
    width: 95%;
  }

  #flucht_intro .container{
    text-align: left;
    width: 95%;
  }

  .flucht_section .container {
    width: 95%;
  }

  .flucht_section img {
    display: block;
    width: 100%;
    margin: 60px auto 80px auto;
  }

  .flucht_document img {
    display: block;
    margin: 50px auto 0px auto;
    width: 60%;
  }

  .flucht_section ol {
    padding-left: 20px;
    width: 95%;
  }

}
